@import url('core.css');


.vp-metabox {
    margin: -7px -12px 0;
}

.vp-metabox .vp-hide {
	position: absolute !important;
	border: 0;
	clip: rect(0 0 0 0);
	height: 0;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	width: 0 !important;
}
.vp-metabox img {
	max-width: 100%;
	vertical-align: bottom;
}
.vp-metabox .vp-button {
	height: 30px;
	line-height: 28px;
	margin: 0;
	padding: 0 12px;
}
.vp-metabox-error {
	background-image: url('../img/vp-sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -240px;
	margin-right: 5px;
	margin-left: 5px;
	*display: inline;
	*zoom: 1;
	display: inline-block;
	height: 14px;
	width: 14px;
	vertical-align: middle;
	float: left;
}
.vp-metabox .vp-field {
	display: table;
	table-layout: fixed;
	width: 100%;
}
.vp-metabox .vp-field .label {
	display: table-cell;
	padding: 12px;
	vertical-align: top;
	width: 30%;
}
#postbox-container-1 .vp-metabox .vp-field,#postbox-container-1 .vp-metabox .vp-field .label,#postbox-container-1 .vp-metabox .vp-field .field {
	display: block;
	width: auto;
}
#postbox-container-1 .vp-metabox .vp-field {
	margin: 15px 0;
}
#postbox-container-1 .vp-metabox .vp-field .label {
	margin-bottom: 3px;
}
#postbox-container-1 .vp-metabox .vp-field .label,#postbox-container-1 .vp-metabox .vp-field .field {
	padding: 0 10px;
}
#postbox-container-1 .vp-metabox .vp-field .label label {
	margin: 0;
}
#postbox-container-1 .vp-metabox .vp-wpa-loop {
}

.vp-metabox .vp-field .label label {
	cursor: default;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.4em;
	margin: 0;
	display: block;
}
.vp-metabox .vp-field .label .description {
	font-size: 0.9em;
	color: #999999;
	line-height: 1.3em;
}
.vp-metabox .vp-field .label .description p {
	margin: 0;
    line-height: 1.8;
}
.vp-metabox .vp-field .field {
	display: table-cell;
	padding: 30px 10px;
	width: 80%;
	position: relative;
}
.vp-metabox .vp-field .field .validation-msgs ul {
	margin: 0px;
}

.vp-metabox .vp-field .field .input img {
	border: 1px solid #DDD;
}

.vp-metabox .vp-field .field .input {
	position: relative;
}
.vp-metabox .vp-field.vp-error {
	background-color: #fbf1f1;
}
.vp-metabox .vp-field .validation-msgs {
	color: #cc0000;
	font-weight: bold;
}
.vp-metabox .vp-field .validation-msgs li {
	margin: 5px 0 0;
}

/*
 * =========================
 * Premium Fields
 *
 * Fields with the validation rule 'premium' get
 * the following styles applied
 * =========================
 */

.vp-metabox .vp-field[data-vp-validation=premium] {
    position: relative;
}

.vp-metabox .vp-field[data-vp-validation=premium]:after {
    content: '\f0a3   Please enter your license key in order to use this option.';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: right;
    font-size: 11px;
    font-family: 'FontAwesome', 'Open Sans';
    color: rgb(108,0,0);
    background: rgba(255,255,255,.75);
    padding: 0 20px;
}

/* ================================================== */






.vp-metabox .vp-fixed-loop:last-child {
	margin: 0 0 -13px 0;
}
.vp-metabox .vp-wpa-loop h4 {
	color: #999999;
	margin: 10px 0px 10px;
	padding: 0px 10px;
	text-transform: uppercase;
}
.vp-metabox .vp-wpa-loop .vp-wpa-group {
	position: relative;
	background: #FFF;
	border: none;
	border-bottom: 1px solid #e5e5e5;
	overflow: hidden;
    margin-top: -1px;
}

.vp-metabox .vp-wpa-loop .vp-wpa-group.ui-sortable-placeholder {
    background: #fcfcfc !important;
}

.vp-metabox .vp-wpa-loop .vp-wpa-group .vp-controls {
	/*padding: 10px 0;*/
	display: inline-block;
	width: 100%;
	position: relative;
}
.vp-metabox .vp-wpa-loop .vp-wpa-group .vp-controls .vp-field .label {
	padding: 12px 10px;
}
.vp-metabox .vp-wpa-loop .vp-wpa-group .vp-controls .vp-field .field {
	padding: 14px 10px 10px 20px;
}
.vp-metabox .vp-wpa-loop .vp-wpa-group .vp-wpa-group-heading .vp-wpa-group-title {
	display: block;
}
.vp-metabox .vp-wpa-loop .vp-wpa-group .vp-wpa-group-heading {
	background-color: #FCFCFC;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	padding: 0;
	margin-bottom: -1px;
}
.vp-metabox .vp-wpa-loop .vp-wpa-group .vp-wpa-group-heading a:focus {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
            box-shadow: none;
}
.vp-metabox .vp-wpa-loop .vp-wpa-group.wpa_group-row .vp-wpa-group-heading {
	background-color: #DDD;
	border-bottom: 1px solid #e5e5e5;
}
.vp-metabox .vp-wpa-loop .vp-wpa-group.wpa_group-column .vp-wpa-group-heading {
	background-color: #EEE;
	border-bottom: 1px solid #e5e5e5;
}



.vp-metabox .vp-wpa-loop.vp-repeating-loop .vp-wpa-group .vp-wpa-group-heading .vp-wpa-group-title {
    cursor:	move;
}

.vp-metabox .vp-wpa-loop .vp-wpa-group .vp-wpa-group-heading a {
	text-decoration: none;
}
.vp-metabox .vp-wpa-loop .vp-wpa-group .vp-wpa-group-heading .vp-wpa-group-title {
    padding: 10px 12px;
    color: #666;
}

.vp-metabox .vp-wpa-loop .vp-wpa-group .vp-wpa-group-heading .vp-wpa-group-title .ui-sortable-placeholder {
    background: #DDD;
}
.vp-metabox .vp-wpa-loop .vp-wpa-group .vp-wpa-group-remove {
	position: absolute;
	top: 10px;
	right: 12px;
    color: #ccc;
}
.vp-metabox .vp-wpa-loop .vp-wpa-group .vp-wpa-group-remove i {
    pointer-events: none
}
.vp-metabox .vp-wpa-loop .vp-wpa-group .vp-wpa-group-remove:hover {
	color: #666;
}

.vp-metabox .vp-wpa-loop .vp-wpa-group-add {
    padding: 10px 10px 0;
}
.vp-metabox .vp-wpa-loop .vp-wpa-group-add > a {
    height: 50px;
    line-height: 48px;
	display: block;
    font-size: 16px;
	text-align: center;
}

.vp-metabox .vp-wpa-loop .vp-wpa-group-add > a i {
    margin: 0 5px 0 0;
}

.vp-metabox .vp-textbox .field input[type="text"],
.vp-metabox .vp-slider .field input[type="text"],
.vp-metabox .vp-upload .field input[type="text"],
.vp-metabox .vp-date .field input[type="text"],
.vp-metabox .vp-textarea .field textarea,
.vp-metabox .vp-color .field input[type="text"] {
	border-color: #DDD;
	padding: 10px;
	margin: 0;
    border-radius: 0;
    box-shadow: none;
	transition: all .2s linear;
}

.vp-metabox .vp-textbox .field input[type="text"],
.vp-metabox .vp-upload .field input[type="text"],
.vp-metabox .vp-textarea .field textarea {
	width: 100%;
}

.vp-metabox .field input[type="text"]:focus {
	border-color: #999;
}


/*
 * ##################################################
 * CHECKBOX & RADIOBUTTON ###########################
 * ##################################################
 */

.vp-metabox .vp-checkbox .field input,
.vp-metabox .vp-radiobutton .field input {
	display: none;    
}

.vp-metabox .vp-checkbox .field label,
.vp-metabox .vp-radiobutton .field label {
	margin: 0 10px 0 0;
    line-height: 2;    
}

.vp-metabox .vp-checkbox .field span,
.vp-metabox .vp-radiobutton .field span {
    width: 18px;
    height: 18px;
    
    margin-top: -2px;
    margin-right: 10px;
    
    display: inline-block;
    position: relative;
    vertical-align: middle;

    border: 1px solid #CCC;
    background: none;
    
    -webkit-transition: border-color .1s linear;
       -moz-transition: border-color .1s linear;
            transition: border-color .1s linear;
}

.vp-metabox .vp-checkbox .field input:checked ~ span,
.vp-metabox .vp-radiobutton .field input:checked ~ span {
    border: 1px solid #222;
}

.vp-metabox .vp-checkbox .field input:checked ~ span:after,
.vp-metabox .vp-radiobutton .field input:checked ~ span:after {
    content: '\f00c';
    
    width: 14px;
    height: 14px;
    margin: 1px;
    
    display: block;

    color: #555;
    font-size: 11px;
    font-family: 'FontAwesome';
    line-height: 16px;
    text-align: center;
}

.vp-metabox .vp-radiobutton .field span,
.vp-metabox .vp-radiobutton .field input:checked ~ span:after {
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
            border-radius: 100%;
}

/*
 * ##################################################
 * UPLOAD ###########################################
 * ##################################################
 */
.vp-metabox .vp-upload .field input[type="text"] {
    display: none !important;
}

.vp-metabox .vp-upload .input {}

.vp-metabox .vp-upload .buttons {
    width: 100%;
}

.vp-metabox .vp-upload .image {
    max-width: 500px;
    position: relative;
    text-align: center;
}

.vp-metabox .vp-upload .image.icon {
    padding: 20px 0;
    border: 1px solid #DDD;
    background: #EEE;
}

.vp-metabox .uk-show {
	display: block;
}

.vp-metabox .uk-hide {
	display: none;
}

.vp-metabox .vp-upload .image .uk-image-overlay {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(0,0,0,.5);
    opacity: 0;
    transition: all .2s linear;
}

.vp-metabox .vp-upload .image .uk-image-overlay .buttons {
    position: absolute;
    top: calc(50% - 15px);
}

.vp-metabox .vp-upload .image:hover .uk-image-overlay {
    opacity: 1;
}

.vp-metabox .vp-upload .field .image {
	line-height: 0em;
    margin-bottom: 10px;

}
.vp-metabox .vp-upload .field .image img {}

.vp-metabox .vp-upload .field .image img[src=""] {
	display: none;
}



/*
 * ##################################################
 * CHECKIMAGE & RADIOIMAGE ##########################
 * ##################################################
 */
 
.vp-metabox .vp-checkimage .field input,
.vp-metabox .vp-radioimage .field input {
	display: none;    
}

.vp-metabox .vp-checkimage .field label,
.vp-metabox .vp-radioimage .field label {
    display: inline-block;
    margin: 0 10px 10px 0;
    vertical-align: top
}

.vp-metabox .vp-checkimage .field img,
.vp-metabox .vp-radioimage .field img {
    width: auto;
    height: auto;
    min-width: 16px;
    min-height: 16px;
    max-width: 200px;
    max-height: 200px;
    
    opacity: .2;
    
    -webkit-transition: all .1s linear;
       -moz-transition: all .1s linear;
            transition: all .1s linear;
}

.vp-metabox .vp-checkimage .field input:checked ~ img,
.vp-metabox .vp-radioimage .field input:checked ~ img,
.vp-metabox .vp-checkimage .field input.checked ~ img,
.vp-metabox .vp-radioimage .field input.checked ~ img {
    opacity: 1;
}



/*
 * ##################################################
 * XXXXXX ###########################################
 * ##################################################
 */

.vp-metabox .vp-radioicon .field input:checked ~ i {
	color: #278ab7;
}




/* COLOR */
.vp-metabox .vp-color .field input[type="text"] {
	padding-left: 35px;
}
.vp-metabox .vp-color .field label {
	background: url('../img/ui-sprite.png') 0 -20px;
	display: block;
	height: 20px;
	left: 5px;
	margin: 5px;
	position: absolute;
	top: 5px;
	width: 20px;
}
.vp-metabox .vp-color .field label span {
	display: block;
	height: 100%;
	width: 100%;
}

/*
 * ##################################################
 * SLIDER ###########################################
 * ##################################################
 */

.vp-wrap .vp-slider .field .input {
    padding: 10px 100px 10px 0
}

.vp-wrap .vp-slider .field .slidebar {
    height: 6px;
    
    position: relative;
    z-index: 0;
    cursor: pointer;
    
    border: none;
    background: #EEE;
    
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

.vp-wrap .vp-slider .field .slidebar .ui-slider-range {
    height: 6px;

    position: absolute;
    z-index: 0;
    
    border: none;
    background: #A3D900;

    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

.vp-wrap .vp-slider .field .slidebar .ui-state-default {
    width: 16px;
    height: 16px;
    
    position: absolute;
    top: -5px;
    
    color: #555;
    font-weight: normal;
    cursor: pointer;
    
    border: 1px solid #222;
    background: #333;
    
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
            border-radius: 100%;
}

.vp-wrap .vp-slider .field .slideinput {
    width: 60px;
    margin-top: -10px;
    position: absolute;
    right: 0;
    top: 0
}

/* SELECT & FONTAWESOME */
.vp-metabox .vp-select .field .input a,
.vp-metabox .vp-socicon .field .input a,
.vp-metabox .vp-fontawesome .field .input a {
	height: 40px;
    padding: 5px 0;
	border-radius: 0;
	border: 1px solid #ddd;
    box-shadow: none;
}

.vp-metabox .select2-container .select2-choice {background: none;}
.vp-metabox .vp-socicon .field .input a {padding: 2px 0;}
.vp-metabox .vp-socicon .field .input abbr {top: 50%;}

.vp-metabox .vp-select .field .input a div,.vp-metabox .vp-fontawesome .field .inpu a div {
	border-left-color: #cccccc;
}
.vp-metabox .vp-select .field .input .select2-dropdown-open a,
.vp-metabox .vp-fontawesome .field .input .select2-dropdown-open a {
	box-shadow: 0 4px 5px rgba(0,0,0,0.15);
}
.vp-metabox .vp-select .field .input .select2-dropdown-open.select2-drop-above a,
.vp-metabox .vp-fontawesome .field .input .select2-dropdown-open.select2-drop-above a {
	box-shadow: 0 -4px 5px rgba(0,0,0,0.15);
}
/* SORTER & MULTISELECT */
.vp-metabox .vp-multiselect .search-field input,.vp-metabox .vp-sorter .search-field input {
	height: auto;
}
.vp-metabox .vp-sorter .field .input li {
	display: block;
	float: none;
	margin: 3px 5px;
	height: 22px;
}
.vp-metabox .vp-sorter .field .input ul,.vp-metabox .vp-multiselect .field .input ul {
	border-radius: 3px;
	border: 1px solid #cccccc;
}
.vp-metabox .vp-multiselect .field .input .select2-dropdown-open ul,.vp-metabox .vp-sorter .field .input .select2-dropdown-open ul {
	-webkit-box-shadow: 0 4px 5px rgba(0,0,0,0.15);
	box-shadow: 0 4px 5px rgba(0,0,0,0.15);
}
.vp-metabox .vp-multiselect .field .input .select2-dropdown-open.select2-drop-above ul,.vp-metabox .vp-sorter .field .input .select2-dropdown-open.select2-drop-above ul {
	-webkit-box-shadow: 0 -4px 5px rgba(0,0,0,0.15);
	box-shadow: 0 -4px 5px rgba(0,0,0,0.15);
}
/* TEXTAREA */
.vp-metabox .vp-textarea textarea {
	width: 100%;
	-webkit-resize: vertical;
	-moz-resize: vertical;
	resize: vertical;
	min-height: 100px;
	max-height: 200px;
}
/* WP TinyMCE Editor */
.vp-metabox .vp-wpeditor .label,.vp-metabox .vp-wpeditor .field {
	display: block;
	padding: 0px 10px !important;
	width: 100%;
}
.vp-metabox .customEditor {
	margin: 15px 0px;
}
.vp-metabox .customEditor textarea {
	width: 100%;
	margin: 0;
	-webkit-border-top-right-radius: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.vp-metabox .custom_upload_buttons a {
	text-decoration: none;
}
.vp-metabox .wp_themeSkin table.mceLayout {
	background: white;
	border-width: 1px;
	border-style: solid;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-color: #CCC #CCC #DFDFDF;
}
.vp-metabox .mceLayout span {
	display: inline;
}
.vp-metabox .customEditor * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	box-sizing: content-box;
}
.vp-metabox .vp-wpeditor .field .customEditor .mceIcon img {
	border-width: 0;
	padding: 0;
}
/* HTML PREVIEW */
.vp-metabox .vp-html .field .input {
	overflow: auto;
}
.vp-metabox .vp-html .field .vp-field-loader {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #f9f9f9;
	text-align: center;
	top: 0;
}
.vp-metabox .vp-wpa-loop .vp-html .field .vp-field-loader {
	background-color: #ffffff;
}
.vp-metabox .vp-html .field .vp-field-loader img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -5px 0 0 -8px;
}
/**
 * Notebox styling
 * (normal, warning, info, error, success)
 */
.vp-metabox .vp-field.vp-notebox {
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	display: block;
	padding: 10px 20px 10px 55px;
	position: relative;
	margin: 10px 0;
	min-height: 50px;
	width: auto;
}
.vp-metabox .vp-field.vp-notebox > i {
	display: block;
	font-size: 30px;
	line-height: 1em;
	left: 0;
	margin: 9px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
	position: absolute;
	text-align: center;
	top: 0;
	width: 30px;
}
.vp-metabox .vp-field.vp-notebox > .label {
	display: block;
	width: auto;
	padding: 0 !important;
	font-weight: bold;
}
.vp-metabox .vp-field.vp-notebox > .description {
	padding: 0;
	color: inherit;
}
.vp-metabox .vp-field.vp-notebox > .description p {
	margin: 0;
}
.vp-metabox .vp-field.vp-notebox.note-normal {
	background-color: #eeeeee;
	border-color: #cccccc;
	color: #666666;
}
.vp-metabox .vp-field.vp-notebox.note-info {
	background-color: #d1e4f3;
	border-color: #a8b6c1;
	color: #5881a1;
}
.vp-metabox .vp-field.vp-notebox.note-success {
	background-color: #c4ec94;
	border-color: #70ad60;
	color: #4d751c;
}
.vp-metabox .vp-field.vp-notebox.note-warning {
	background-color: #fee9a6;
	border-color: #d9c183;
	color: #978138;
}
.vp-metabox .vp-field.vp-notebox.note-error {
	background-color: #ffa2a3;
	border-color: #bc515b;
	color: #9c1825;
}
.vp-metabox .vp-wpa-group .vp-field.vp-notebox {
	margin: 10px 10px;
}
/**
 * Code Editor styling
 */
.ace_editor {
	border-width: 1px;
	border-style: solid;
	border-color: #dddddd;
	border-radius: 3px;
	height: 200px;
}

/* Extension
 * ==================================================== */

/* jQuery UI Datepicker bottom div bug */
#ui-datepicker-div {
	display: none;
}
/* jQuery UI widget overlay glitch */
.ui-widget-overlay {
	background-repeat: repeat;
}
/* Bootstrap Colorpicker */
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	margin: 2px 0 0;
	list-style: none;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0,0,0,0.2);
	*border-right-width: 2px;
	*border-bottom-width: 2px;
	border-radius: 3px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}
/* fontawesome chooser + select2 width */
.select2-container .fontawesome,.select2-result-label .fontawesome {
	font-size: 12px;
	vertical-align: middle;
}
.select2-container .fontawesome i,.select2-result-label .fontawesome i {
	font-size: 14px;
	margin-right: 8px;
}
.select2-container {
	width: 100%;
}
.select2-drop {
	border-color: #cccccc;
	padding-top: 10px;
	margin-top: -2px;
}
.select2-drop.select2-drop-above {
	margin-top: 4px;
	padding-top: 0;
	padding-bottom: 10px;
	border-top-color: #cccccc;
}
.select2-drop input {
	border-color: #cccccc;
}
.select2-results .select2-highlighted {
	background: #278ab7;
}


/*
 * ##################################################
 * TOGGLE ###########################################
 * ##################################################
 */
 
.vp-metabox .vp-toggle .field input {
    display: none;
}

.vp-metabox .vp-toggle .field label {
    display: inline-block;
    text-align: center;
}

.vp-metabox .vp-toggle .field span {
    width: 60px;
    height: 32px;
    display: block;
}

.vp-metabox .vp-toggle .field input ~ span:after {
    width: 60px;
    height: 32px;
    display: block;
    line-height: 30px;
    content: 'OFF';
    color: #CCC;
    background: #EEE;
    border: 1px solid #DDD; 
    
    -webkit-transition: all .1s linear;
       -moz-transition: all .1s linear;
            transition: all .1s linear;
}

.vp-metabox .vp-toggle .field input:checked ~ span:after {
    content: 'ON';
    color: #FFF;
    border: 1px solid #BBB;
    background: #A3D900;
}


/**
 * Field: Select2
 */

.vp-metabox .select2-container .select2-choice {
    height: 30px;
}

.vp-metabox .select2-container .fontawesome,
.vp-metabox .select2-result-label .fontawesome {
    font-size: 12px;
    vertical-align: middle
}

.vp-metabox .select2-container .fontawesome i,
.vp-metabox .select2-result-label .fontawesome i {
    font-size: 14px;
    margin-right: 8px
}

.vp-metabox .select2-container {
    width: 100%
}

.vp-metabox .select2-drop {
    border-color: #ccc;
    padding-top: 10px;
    margin-top: -2px
}

.vp-metabox .select2-drop.select2-drop-above {
    margin-top: 4px;
    padding-top: 0;
    padding-bottom: 10px;
    border-top-color: #ccc
}

.vp-metabox .select2-drop input {
    border-color: #ccc
}

.vp-metabox .select2-results .select2-highlighted {
    background: #278ab7
}



.vp-metabox .select2-container .select2-choice abbr {
	right: 35px;
}

.vp-metabox .select2-container .select2-choice .select2-arrow b,
.vp-metabox .select2-container .select2-choice div b {
  background-position: -2px 7px;
}

.vp-metabox .select2-dropdown-open .select2-choice .select2-arrow b,
.vp-metabox .select2-dropdown-open .select2-choice div b {
  background-position: -20px 7px;
}



.post-php .select2-drop-active {
    padding: 0;
    border: 1px solid #999;
    border-top: none;
    border-radius: 0;
    box-shadow: none;
}

.post-php .select2-search {
    display: inline-block;
    width: 100%;
    min-height: 26px;
    margin: 0;
    padding: 0;
}

.post-php .select2-search input {
    padding: 10px;
    border: 1px solid #CCC;
    line-height: 18px;
    box-shadow: none;
    background: none;
    border-left: none;
    border-right: none;
}

.post-php .select2-results {
    max-height: 200px;
    padding: 0;
    margin: 0;
}

.post-php .select2-results li {
    margin: 0;
}

.post-php .select2-results .select2-result-label {
    padding: 9px 10px 10px 10px;
    margin: 0;
    cursor: pointer;
    min-height: 1em;
}

.post-php .select2-results .select2-highlighted {
    background: #333;
    color: #fff;
}

.post-php .select2-results .select2-no-results,
.post-php .select2-results .select2-searching,
.post-php .select2-results .select2-selection-limit {
    margin: 0;
    padding: 10px;
    background: none;
    color: #C00;
}

.post-php .field .input .select2-container-active.select2-dropdown-open a {border: 1px solid #999;}


/* BUTTONS */
.uk-button .dashicons {margin: 3px 0 0 0;}

/* Pagebuilder Fix for WP Editor */
.jsn-bootstrap3.wr-editor-wrapper .tab-content {
  border: none !important;
  border: 1px solid #DDD !important;
  margin-bottom: 20px !important;
  padding: 0 !important;
}

.jsn-bootstrap3.wr-editor-wrapper .nav-tabs > li.active > a,
.jsn-bootstrap3.wr-editor-wrapper .nav-tabs > li.active > a:hover,
.jsn-bootstrap3.wr-editor-wrapper .nav-tabs > li.active > a:focus {
  color: #555555 !important;
  background-color: #f5f5f5 !important;
  border: 1px solid #dddddd !important;
  border-bottom-color: transparent !important;
  cursor: default !important;
  box-shadow: none !important;
}

.jsn-bootstrap3.wr-editor-wrapper .nav-tabs > li.active > a[href="#wr_editor_tab2"] {
    background: #FFF !important;
}

.jsn-bootstrap3.wr-editor-wrapper #wr_page_builder .inside {
  margin: 0 !important;
  padding: 10px !important;
}

.jsn-bootstrap3.wr-editor-wrapper #wp-content-editor-tools {
  background-color: #f5f5f5 !important;
  padding: 14px 0 7px 7px !important;
}

.jsn-bootstrap3.wr-editor-wrapper .wp-editor-tabs {
  margin-top: -42px !important;
  margin-right: -1px;
  border: 1px solid #DDD;
  border-bottom: none;
}

.jsn-bootstrap3.wr-editor-wrapper .wp-editor-tabs .wp-switch-editor {
    top: 0;
    border: none;
}

.jsn-bootstrap3.wr-editor-wrapper .wp-editor-tabs button:focus {
    box-shadow: none;
}

.jsn-bootstrap3.wr-editor-wrapper .gform_media_icon {
  margin-top: 5px !important;
}
.jsn-bootstrap3.wr-editor-wrapper .wp-editor-container {margin: -1px -1px 0 -1px;}

.jsn-bootstrap3.wr-editor-wrapper .wp-editor-expand #post-status-info {
  border: none;
  border-top: 1px solid #e5e5e5;
}

.jsn-bootstrap3.wr-editor-wrapper .autosave-info {
  padding: 0 10px 0 0;
}

.jsn-bootstrap3.wr-editor-wrapper div.mce-toolbar-grp {
  padding: 0 2px 0 0;
  box-sizing: content-box;
}
.jsn-bootstrap3 #wr_editor_tabs a:focus {
  box-shadow: none;
}

#wpbody #ed_toolbar {
   box-sizing: border-box; 
}

.jsn-bootstrap3 #branding {display: none;}

/* Removes ugly underline on media buttons (Add Media, Add Download, Add GravityForm,... above the editor) */
.jsn-bootstrap3 a:hover,
.jsn-bootstrap3 a:focus,
.wp-media-buttons a:hover {text-decoration: none !important;}